torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
transformers==4.41.0
accelerate==1.6.0
datasets==3.0.1
diffusers==0.29.2
einops==0.8.0
h5py==3.11.0
huggingface_hub==0.23.4
importlib_metadata==8.0.0
librosa==0.10.2
matplotlib==3.9.1
numpy==1.26.4
omegaconf==2.3.0
packaging==24.1
pandas
progressbar33==2.4
protobuf==3.20.3
resampy==0.4.3
scikit_image
scikit_lear
scipy==1.14.0
soundfile==0.12.1
ssr_eval==0.0.7
torchlibrosa==0.1.0
tqdm
wandb
ipython
